$white: #FFF;
$black: #000;
$flush-orange: #FF7900;
$alto: #D8D8D8;
$gray:#868686;
$geyser:#CCD7E1;
$dune: #252220;
$pine-cone: #605751;
$demin:#106DB0;
$iceberg:#1976D24D;
$seance: #781B8E;
$swirl: #D6D0CC;
$sandstone: #7A6D603D;
$wild-sand:#F4F4F4;
$alabaster:#F8F8F8;
$pampas: #EFE9E5;
$zeus:#231d19b3;
$international-orange: #F50;
$deep-sea: #008859;
$mako : #43484C;
$light-nevada: #606e7a40;
